<ion-view view-title="Messenger Mashup" name="login-view">
     <ion-header-bar class="bar-stable">
        <h1 class="title" style="color:blue">Messenger Mashup</h1>
      </ion-header-bar>
   <ion-content class="padding">
      <h4 class="form-signin-heading">Login Page</h4>
      <div class="list list-inset">
         <label class="item item-input">
         <input type="text" id="username" class="form-control" placeholder="Username" required autofocus ng-model="username">
         </label>
         <label class="item item-input">
         <input type="password" id="password" class="form-control" placeholder="Password" required autofocus ng-model="password">
         </label>
      </div>
      <button class="button button-block button-calm padding-horizontal" ng_click="login(username,password)" type="submit">Login</button>
     
      <span style="padding: 0 10px">&nbsp;</span>
      <input style="color:blue" type="checkbox">
      <label class="check" for="checkbox">You want to Remember me</label>
         <td>
            <h4 style="color:black">Create Account?<span style="padding: 0 10px">&nbsp;</span>
                <a href="#register" class="dark" >Sign UP</a>
            </h4>
    
             <div id="x"></div>
           </ion-content>
</ion-view>