<ion-header-bar>
  <button class="button button-icon icon ion-home" ng-click="home()">Home</button>
  <h1 class="title">Messenger Mashup</h1>
  <button class="button button-icon icon ion-power" ng-click="">Logout</button>
  </div>
</ion-header-bar>
<ion-content padding="true">




  <div class="list">

    <a class="item item-avatar" href="#fbcontacts">

      <h2>Facebook</h2>

    </a>
    <a class="item item-avatar" href="#gcontacts">
      <img src="img/gmail.png">
      <h2>Gmail</h2>
      <span class="badge badge-assertive">7</span>

    </a>
    <a class="item item-avatar" href="#ycontacts">
      <img src="img/yahoo.png">
      <h2>Yahoo</h2>
      <span class="badge badge-assertive">10</span>

    </a>
    <a class="item item-avatar" href="#tcontacts">
      <img src="img/twitter.png">
      <h2>Twitter</h2>
      <span class="badge badge-assertive">8</span>
    </a>



  </div>



</ion-content>


